services:
  api:
    build: .
    container_name: goit-pythonweb-hw-12
    restart: always
    env_file:
      - .env
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
    command: >
      sh -c "alembic upgrade head &&
             uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    depends_on:
      - database
  database:
    image: postgres
    container_name: postgres_12
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    container_name: pgadmin_hw10
    env_file:
      - .env
    ports:
      - "5050:80"
    depends_on:
      - database

volumes:
  db_data:
    driver: local
